
            <section class="about-us">

    <h2>¿Quiénes somos?</h2>
    <p>Somos Radio Independiente, un equipo de estudiantes y pasantes apasionados por la radio. Nuestro objetivo es proporcionar una plataforma para voces diversas y a menudo subrepresentadas, y creemos firmemente en el poder de la radio para unir a las comunidades.</p>



    <h2>Nuestra estación</h2>
    <p>Nuestra estación es completamente autogestionada y sin fines de lucro. Esto significa que cada miembro de nuestro equipo, desde los presentadores hasta los productores, son voluntarios que dedican su tiempo y energía porque creen en lo que hacemos. Nos enorgullece decir que cada centavo que recaudamos se reinvierte directamente en la estación para mejorar nuestro servicio.</p>



    <h2>Nuestra programación</h2>
    <p>Nuestra programación es tan diversa como nuestro equipo. Desde música hasta noticias, deportes hasta cultura, nos esforzamos por ofrecer contenido que sea relevante, interesante y, sobre todo, importante para nuestros oyentes. Creemos que la radio es una herramienta increíblemente poderosa para el cambio social, y estamos comprometidos a utilizar nuestra plataforma para hacer una diferencia positiva.</p>



    <h2>Gracias por tu apoyo</h2>
    <p>Gracias por visitar nuestra página y por apoyar a Radio Independiente. Ya sea que nos escuches en línea o en el dial, eres parte de nuestra comunidad y agradecemos tu apoyo. Juntos, podemos seguir haciendo de la radio un medio verdaderamente democrático y accesible para todos. ¡Sintonízanos y únete a la conversación!</p>

            </section>
       